.taskContainer {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .taskContainer {
        margin-top: 1rem;
        padding: 0;
    }
}